.button {
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow( one-pass-box, black, 8, 0.0, 2, 0);
}

#title {
    -fx-font: bold italic 80pt "Arial";

}

#title .text {
    -fx-stroke:white;
}

#javaEdition {
    -fx-font: bolder 10pt "Times New Roman";
}

#javaEdition .text {
    -fx-fill: #ffff47;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,1),10,0.5,2,2)
}

#root {
    -fx-background-image: url("./bg.jpg");
}